{
  "extends": "airbnb",
  "rules": {
    "comma-dangle": ["error", "never"],
    "import/no-extraneous-dependencies": "off",
    "no-mixed-operators": "off",
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/require-default-props": "off"
  }
}
