{
  "env": {
    "jest/globals": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb",
    "plugin:jest/recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": ["jest", "react"],
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "no-mixed-operators": "off",
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/no-unescaped-entities": "off",
    "react/require-default-props": "off"
  }
}
