{
  "extends": "airbnb",
  "rules": {
    "comma-dangle": [2, "never"],
    "import/no-extraneous-dependencies": 0,
    "no-mixed-operators": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/require-default-props": 0
  }
}
